/*
	Color Definitions
*/

$bg-color : #252525;
$post-preview-bg-color : #4C0808;
$link-highlight-color: #C1A3F2;

$highlight-purple: #25084C;

/*
	Size Definitions
*/

$small-screen : 768px; 

/* 
	Mixins used through out
*/

@mixin box-shadow($x-offset, $y-offest, $blur-radius, $spread-radius, $color) {
	-webkit-box-shadow: $x-offset $y-offest $blur-radius $spread-radius $color;
	-moz-box-shadow: $x-offset $y-offest $blur-radius $spread-radius $color;
	box-shadow: $x-offset $y-offest $blur-radius $spread-radius $color;
}

/* 
	Common Classes
*/

$max-section-width : 1020px;

.centered-section {
	max-width: $max-section-width;
	margin:0 auto;
}

// Used For Seeing formatting
.debug {
	border: 1px solid white;
}