

/*
	Hero Section
*/
.hero-content {
	@extend .centered-section;
	@extend .debug;
	position: relative;
	height: 500px;
	overflow: hidden;
	clear: both;
}

.hero-image {
	width: 100%;
	height: auto;
}

.hero-caption {
	display: inline-block;
	position: absolute;
	bottom: 50px;
	left: 25px;
	padding: 2px 15px;
	background-color: $highlight-purple;
	max-width: 400px;

	font-size: 20px;
	text-transform: uppercase;
}

/*
	Latest Posts
*/

.latest-posts {
	@extend .centered-section;
	@extend .debug;
	padding-top: 20px;
}

.article-preview {
	// @include box-shadow(0px, 2px, 1px, 1px, rgba(0,0,0,0.25));
	@extend .debug;
	margin: 15px 20px;
	height: 350px;
	background-color: $post-preview-bg-color;
}

.article-preview-image {
	max-height: 150px;
	overflow: hidden;
}

.article-preview-content {
	padding:5px 15px;
	
}

.article-preview-title {

}

.article-preview-text {
	font-size: 0.9em;
}

/* 
	About Us
*/

.about-us {
	@extend .centered-section;
	@extend .debug;
}

.social-media {
	@extend .centered-section;
	@extend .debug;
	height: 100px;
}