// Common Stylings
.navbar {
	@extend .centered-section;
	background-color: $bg-color;
	border-bottom: 1px solid #6A6A6C;
	height: 120px;
	// position: fixed;
	// top: 0;
	// left: 0;
	// right: 0;
	margin: auto;

	z-index: 1;
}

.navbar-mobile {
	background-color: $bg-color;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 1;
}

// Full Navbar Styling

@media (min-width: $small-screen + 1) {
	.navbar-logo {
		float: left;
		margin-left: 20px;
		margin-top: 15px;
	}

	.navbar-items {
		float: right;
		margin-right: 20px;
		margin-top: 25px;
	}
}

// Show Mobile Navbar instead of Full Navbar

@media (max-width: $small-screen) {
	.navbar {
		display: none;
	}

	.navbar-mobile {
		display: block;
	}

	.navbar-items {
		float: none;
		display: none;
	}

	.navbar-items li {
		display: block;
	}

	.navbar-title {
		text-align: center;
	}

	.navbar-menu {
		float:left;
		position: absolute;
		left: 10px;
		top: 0px;
	}
}
